.boxSkills {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 25px 40px 0 40px ;
    vertical-align: baseline;
    outline: none;
    font-size: 15px;
    color: #adabab;
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
    letter-spacing: .5px;
}
.leftBoxContainer {
    width: 100%;

    padding: 0;
}
.leftBoxBlock {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding-top: 33px;
}
.skill {
    width: 100%;
    margin-bottom: 17px;
}
.backgroundContainer {

    width: 100%;
    min-width: 100%;
    position: relative;
    height: 3px;
}