.homePageBlock {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px 0 40px;
    position: relative;
    clear: both;
    font-size: 15px;
    color: #adabab;
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
    letter-spacing: .5px;
}

.homePageContainer {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    clear: both;
    justify-content: center;
    position: relative;
}

.homePageAdition {
    margin-left: 60px;
}

@media screen and (max-width: 700px) {
    .homePageContainer {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .homePageAdition {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 25px 0 0 0;
    }

    @media screen and (max-width: 480px) {
        .homePageAdition {
            align-items: center;
        }
    }
}


