.contentBlock {
    padding-left: 360px;
    background-color: #111;
    width: 100%;
    min-height: 100vh;
    max-height: 200vh;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .contentBlock {
        padding: 0;
        margin-top: 69px;
        width: 100%;
    }
}