.baseText {
    font-size: 15px;
    color: #adabab;
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
    letter-spacing: .5px;
}
.additionalText {
    font-style: italic;
}
.titleText {
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
    color: #fff;
    line-height: 1.2;
}