.menuBlock {
    cursor: pointer;
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
    vertical-align: baseline;
    display: flex;
}
.linkStyle {
    text-decoration: none;
}
.active {
    text-decoration: none;
}


.linkStyle img {
    filter: invert(50%);
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 4px;
    transition: all .3s ease;
}

.title {
    color: #adabab;
}

.linkStyle:hover img {
    filter: invert(1);
}
.linkStyle:hover .title {
    letter-spacing: 2px;
    color: white !important;
}

.active img{
    filter: invert(1);
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 4px;
    transition: all .3s ease;
}
.active span {
    color: white;
}
@media screen and (max-width: 1000px) {
    .menuBlock span {
        display: none;
    }
}
