.menu {
    cursor: pointer;
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
    vertical-align: baseline;
    outline: none;
    display: flex;
}
.menu img{
    filter: invert(70%);
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 6px;
    transition: all .3s ease;
}

.menu span:hover {
    letter-spacing: 2px;
    color: white;
}
.menu img:hover {
    filter: invert(1);
}

@media screen and (max-width: 1000px) {
    .menu span{
        display: none ;
    }
}
