.portfolioContainer {
    width: 100%;
    min-height: 100vh;
    padding: 25px 40px 30px 40px;
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
    letter-spacing: .5px;
    color: #adabab;

}

.portfolioContainer h3 {
    font-size: 30px;
    color: white;
}

.headerPortfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 472px) {
    .headerPortfolio {
        flex-direction: column;
    }
}

.listOfWorks {
    padding: 0;
    display: flex;
}

.listOfWorks li {

    margin-left: 25px;
    list-style-type: none;
    cursor: pointer;
}

.listWrapper {
    position: relative;
    min-height: 200vh;
    text-align: center;

}

.listWrapper ul {
    padding: 0;
    list-style-type: none;
}

.listWrapper img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .5s;
}

.listWrapper li {
    float: left;
    width: 50%;
    padding: 25px;
}

@media screen and (max-width: 700px) {
    .listWrapper li {
        width: 100%;
        padding: 0;
    }
}

.descriptionListWrapper  {
    content: '';
    cursor: default;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    background: hsla(0, 0%, 100%, .6);
    position: relative;
    z-index: 2;
    bottom: 60px;
    display: flex;

}

.listWrapper


.descriptionListWrapper h5 {
    color: #000;
    margin: 0;
    font-size: 18px;
    padding: 10px 15px;
    letter-spacing: .2px;
    font-weight: 600;
}

.descriptionListWrapper span {
    font-size: 16px;
    color: #000;
    display: inline-block;
    font-style: italic;
    padding: 0 15px 5px;

    top: -5px;
}


