.portfolioContainer {
    width: 100%;
    min-height: 100vh;
    padding: 25px 40px 30px 40px;
    font-family: 'Mulish', sans-serif;
    line-height: 30px;
    letter-spacing: .5px;
    color: #adabab;

}

.portfolioContainer h3 {
    font-size: 30px;
    color: white;
}




