.projectBlock {
 min-height: 100vh;
 background-color: #c6ff97;
}
.projectsContainer {
 flex-direction: column;
 justify-content: flex-start;
}
.projectBox {
 display: flex;
 border: 1px solid;
 width: 100%;
 justify-content: space-between;
 flex-wrap: wrap;
}